# Ignore the Django migration directory
**/migrations/
__pycache__/
api/__pycache__
motek/__pycache__

# Ignore database files
*.db
*.sqlite3

# Ignore text editor backup files
*~

# Ignore environment-specific settings
.env

# Ignore the virtual environment directory
venv/